.login {
  width: 73%;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__column {
  width: 50%;
}
.login__phone-image {
  width: 25rem;
}

.login__column:last-child {
  margin-left: 30px;
}
.login__section {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0975);
  margin-bottom: 10px;
}
.login__sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}
.login__logo {
  margin-top: 30px;
  height: 6rem;
}
.login__form {
  margin-top: 10px;
  width: 100%;
}
.login__input {
  height: 35px;
  width: 100%;
  border:1px solid rgba(0,0,0,.0975);
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.login__appstores {
  display: flex;
  justify-content: center;
}
.login__appstores > img {
  margin-right: 10px;
}
.login__app {
  display: flex;
  flex-direction: column;
  background: none;
  border: 0;
}
.login__app .login__text {
  display: block;
  padding: 20px 0 20px 0;
  text-align: center;
}
.login__appstores img {
  height: 2.5rem;
}
.login__input:first-child {
  margin-bottom: 10px;
}
.login__input--btn {
  border: 0;
  color: #fff;
  font-weight: 600;
  background: #3897f0;
  margin-top: 15px;
}
.login__input-container {
  position: relative;
}
.login__sign-up {
  padding: 10px 0;
}
.login__sign-up .login__text {
  margin: 16px;
  text-align: center;
}